* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:rgb(54 75 84);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.slider {
    width: 500px;
    height: 470px;
    overflow: hidden;
    border: 5px solid #fff;
}
.slider-items {
    display: grid;
    grid-template-columns: 4fr 1fr;
    row-gap: 10px;
}
.slide-items {
    display: flex;
    width: 500%;
    height: calc(100% - 32px);
    grid-column: 1/3;
}
.slide, .text {
    width: calc(100% / 5);
    height: auto;
    transition: margin-left 0.5s ease;
}
.slide img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.text-items {
    display: flex;
    width: 500%;
    grid-column: 1/2;
}
.navigation {
    display: flex;
    grid-column: 2/3;
    background-color: rgb(54 75 84);
}
.nav-item {
    padding: 6px;
    display: block;
    cursor: pointer;
}
.nav-item-block {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.nav-item-block:hover {
    opacity: 1;
}
input[name="pagination"] {
    display: none;
}
#pagination1:checked ~ .slide-items .slide1 {
    margin-left: 0;
}
#pagination2:checked ~ .slide-items .slide1 {
    margin-left: -20%;
}
#pagination3:checked ~ .slide-items .slide1 {
    margin-left: -40%;
}
#pagination4:checked ~ .slide-items .slide1 {
    margin-left: -60%;
}
#pagination5:checked ~ .slide-items .slide1 {
    margin-left: -80%;
}
#pagination1:checked ~ .text-items .text1 {
    margin-left: 0;
}
#pagination2:checked ~ .text-items .text1 {
    margin-left: -20%;
}
#pagination3:checked ~ .text-items .text1 {
    margin-left: -40%;
}
#pagination4:checked ~ .text-items .text1 {
    margin-left: -60%;
}
#pagination5:checked ~ .text-items .text1 {
    margin-left: -80%;
}
#pagination1:checked ~ .navigation .nav-item1 .nav-item-block {
    background-color: black;
    border: 2px solid #fff;
}
#pagination2:checked ~ .navigation .nav-item2 .nav-item-block {
    background-color: black;
    border: 2px solid #fff;
}
#pagination3:checked ~ .navigation .nav-item3 .nav-item-block {
    background-color: black;
    border: 2px solid #fff;
}
#pagination4:checked ~ .navigation .nav-item4 .nav-item-block {
    background-color: black;
    border: 2px solid #fff;
}
#pagination5:checked ~ .navigation .nav-item5 .nav-item-block {
    background-color: black;
    border: 2px solid #fff;
}